:root {
  --sz: 22rem;
  --rd: 50%;
  --pd: 1.25rem;
  --svh: 100svh;
  --bg: #edf1f2;
  --blue: #3498db;
  --dark: #2c3e50;
  --fnt-play: 'Play', sans-serif;
  --fnt-abel: 'Abel', sans-serif;
  --fnt-color: #002009;
  --bg-color: #001930;
  --yellow: #fafa04;
}

*,
*::after,
*::before { box-sizing: border-box; }

:where(html, body, p) { margin: 0 }
:where(p, span) { line-height: 1; }
:where(.weeks, .digit--container) { top: var(--rd) }
:where(.info--container, .digit--container, .format--container) {
  box-shadow: 0.25vmin 0.25vmin 0.25rem rgba(0,0,0,.35) inset, -0.25vmin -0.25vmin 0.25rem rgba(255,255,255,.35) inset;
  filter: opacity(.85) 
}
:where(.digit--container, .format--container) { border-radius: calc(var(--pd) * .25) }
:where(.digit, .separator) {
  font: 700 1.25rem/1 var(--fnt-play); 
  display: inline-block;
  color: var(--fnt-color);
  paint-order: stroke fill;
  word-spacing: .35ch;
  letter-spacing: -.25ch;
  -webkit-text-stroke: .015ch var(--yellow);
}

body {
  padding: 0;
  background-color: var(--bg);
  font-family: var(--fnt-play)
}

.container {
  display: grid;
  place-items: center;
  height: var(--svh)
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weeks--container {
  width: inherit;
  height: inherit;
  position: relative;
}

.clock {
  width: var(--sz);
  height: var(--sz);
  background: var(--bg);
  position: relative;
  border-radius: var(--rd);
  border: .5rem solid var(--bg);
  box-shadow: .25vmin .25vmin .5rem rgba(0,0,0,.15), .35vmin .35vmin .5rem rgba(0,0,0,.25) inset, -.35vmin -.35vmin .5rem rgba(255,255,255,.25) inset;
  &::after {
    content: '';
    width: calc(var(--sz) - 1rem);
    height: calc(var(--sz) - 1rem);
    position: absolute;
    top: var(--rd);
    left: var(--rd);
    border-radius: var(--rd);
    background-image: linear-gradient(-45deg, rgba(0,0,0,.25) -20%, rgba(25,25,55,.35) 30%, rgba(25,125,125, .075) 70%);
    transform: translate(-50%, -50%);
    filter: opacity(.5);
    z-index: 3;
  }
}

.absolute { position: absolute; }
.weeks { left: calc(100% - 6rem); }
.color { color: var(--dark) }

.digit--container {
  width: calc(var(--pd) * 1.5);
  height: calc(var(--pd) * 1.25);
  right: 12%;
  transform: translateY(-50%);
  .date {
    font-size: var(--pd);
  }
}

.info--container {
  width: calc(var(--sz) * .0875);
  height: calc(var(--sz) * .0875);
  border-radius: var(--rd);
  z-index: 2;
  .info {
    font-size: .85rem;
    font-family: var(--fnt-abel);
    font-weight: 500;
  }
}

.hands { 
  z-index: 3;
  &::before {
    content: '';
    width: calc(var(--pd) * .8);
    height: calc(var(--pd) * .8);
    position: absolute;
    top: var(--rd);
    transform: translateY(-50%);
    border-radius: var(--rd);
    background-color: var(--bg);
    box-shadow: 0 0 .5vmin rgba(0,0,0,.25);
    z-index: 4;
  }
  .hand {
    width: .2rem;
    height: var(--sz);
    bottom: 0;
    transform-origin: center bottom;
    transform: translateY(0) rotate(0);
    background-color: var(--dial-color);
    border-radius: calc(var(--pd) * .5);
    transition: transform 400ms ease;
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--dial-color);
    }
    &::before {
      width: .4rem;
      bottom: -1rem;
      transform: translate(-30%, .5rem);
      border-radius: 1rem;
    }
    &::after {
      width: .5rem;
      height: .5rem;
      border-radius: var(--rd);
      transform: translate(-30%, -.75rem);
    }
  }
  .hrs {
    &::before { height: 1.25rem; }
  }
  .mins {
    &::before { 
      height: 1.35rem;
      transform: translate(-.085rem, .5rem);
    }
  }
  .secs {
    width: .135rem;
    &::after { left: -.05rem }
    &::before {
      height: 2rem;
      bottom: -1.35rem
    }
  }
}

.dials {
  height: 95%;
  z-index: 2;
  .dial {
    inset: .0125rem -.556rem;
    color: hsl(0, 3%, 69%);
    transform: rotate(calc(30deg * var(--i)));
    & span {
      transform: rotate(calc(-30deg * var(--i)))
    }
    &:first-child { transform: translateX(-.75rem) }
    &:first-child,
    &:nth-child(3n + 4) { font-size: 2rem; }
  }
}

.format--container {
  justify-content: space-evenly;
  width: 6rem;
  height: calc(var(--pd) * 1.5);
  left: var(--rd);
  bottom: 20%;
  transform: translate(-50%, -20%);
  z-index: 2;
  background: var(--bg-color);
  box-shadow: 0 0 calc(.75ch * .25) calc(.75ch * .5) rgba(0,0,0,.35), 0 0 calc(.75ch * .05) calc(.75ch * .15) var(--yellow) inset;
  .digit--seconds {
    font-size: .75rem;
    letter-spacing: .12ch;
    -webkit-text-stroke: .0015ch #f6f7f8;
  }
}